.profile {
  display: flex;

  align-items: center;
  justify-content: space-around;

  height: 300px;
  width: 320px;
  margin-bottom: 40px;

  border: 3px groove #1c6ea4;
  border-radius: 8px;

  &:hover {
    cursor: pointer;
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
  }
}
