.item {
  position: relative;

  padding: 10px;
  display: flex;
  border-radius: 3px;

  &:hover {
    cursor: pointer;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.3);
  }
}

.item:not(:last-child) {
  margin-bottom: 15px;
}

.image {
  margin-left: 10px;
}

.name {
  margin-left: 10px;
}

.online::before {
  content: '';

  position: absolute;
  left: 0;
  top: 35%;

  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: green;
}

.offline::before {
  content: '';

  position: absolute;
  left: 0;
  top: 35%;

  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: maroon;
}
