.transcation {
  border: 3px groove #1c6ea4;
  border-radius: 8px;

  border-spacing: 10px;

  &:hover {
    cursor: pointer;
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
  }
}

.head {
  outline: 2px solid #1c6ea4;
}
